
$clrs:(
    prime:(
        100:hsl(216, 72%, 17%),
        200:hsl(216, 72%, 27%),
        ),
    call:(
        100:hsl(83, 87%, 50%),
        200:hsl(83, 87%, 60%),
        ),
    ntr:(
        100:hsl(260, 4%, 15%),
        200:hsl(260, 4%, 25%),
        ),
    bg:(
        100:hsl(0, 0%, 86%),
        200:hsl(0, 0%, 96%),
        )
); 